.date-input {
    width: 100px;
    text-align: center;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1.4rem;
}

.option-item {
    transition: all 0.3s ease;

    &:hover span {
        color: var(--green-color);
        transition: all 0.3s ease;
    }

    span {
        margin-top: 1px;
    }
}

@media (max-width: 615px) {
    .wrapper {
        display: block;
    }
}