.wrapper {
    width: 100%;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    .home-icon {
        cursor: pointer;
        width: 3.2rem;
        height: 3.2rem;
        border-radius: 4px;
        background: rgba(0, 0, 0, 0.1);
    }

    .search {
        width: 100%;
    }

    .category {
        width: 100%;
    }
}