.wrapper {
    display: grid;
    grid-template-columns: 1fr; /* Mặc định 1 cột trên mobile */
    gap: 8px;
    padding: 10px;
    padding-top: 6px;
}

/* Khi lên tablet (>= 768px) -> 2 cột */
@media (min-width: 768px) {
    .wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Khi lên desktop (>= 1024px) -> 3 cột */
@media (min-width: 1024px) {
    .wrapper {
        grid-template-columns: repeat(3, 1fr);
    }
}
